.table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}


table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-hover{
    cursor: pointer;
}