.table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}

table thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}